.hidden-loader {
    display:none;
}
.ajax_loader{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.ajax_loader i{
    position:absolute;    
    left:50%;
    top:50%;
    color: #343758;
}

.file-field.medium .file-path-wrapper {
height: 3rem; }
.file-field.medium .file-path-wrapper .file-path {
height: 2.8rem; }

.file-field.big-2 .file-path-wrapper {
height: 3.7rem; }
.file-field.big-2 .file-path-wrapper .file-path {
height: 3.5rem; }


/*
    SAP Configuration Main Loader
    Added: Ben Zarmaynine E. Obra
    Date: 12-2-19
    
*/

.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background: #0085ff;
    transition: width .3s;
}
.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

/*

    End
*/

/*
    Circle Buttons
    Added: Ben Zarmaynine E. Obra
    Date: 12-2-19    

*/
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
}
/*

    End
*/

/*VIEL AUTOCOMPLETE DROPDOWN CSS*/
 .custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
/* VIEL END TAG*/